# ==========================================================
# PYTHON
# ==========================================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# ENTORNOS VIRTUALES
# ==========================================================

.etl/
venv/
env/
.venv/

# ==========================================================
# IDEs
# ==========================================================

.vscode/
.idea/

# ==========================================================
# LOGS
# ==========================================================

Logs/
*.log

# ==========================================================
# CACHE
# ==========================================================

.pytest_cache/
.mypy_cache/
.ruff_cache/

# ==========================================================
# JUPYTER
# ==========================================================

.ipynb_checkpoints/

# ==========================================================
# SISTEMA OPERATIVO
# ==========================================================

.DS_Store
Thumbs.db
desktop.ini

# ==========================================================
# ARCHIVOS TEMPORALES
# ==========================================================

*.tmp
*.temp
*.bak
*.swp